<!-- heredamos de la plantilla base-->

{% extends "postgradoApp/base.html" %}
<!-- cargamos toda la carpeta static -->
{% load static %}

{% block content %}



<div class="sb-nav-link-icon"><h2><i class="far fa-id-card"></i> Avances</h2></div>

<div class="card-body">
    {% if user.tipo_usuario == 2 %}
    <h5 class="card-title"><a href="{% url 'avance:registrar_avance'%}" class="btn btn-primary"><i
        class="fas fa-user-plus"></i> Avance</a></h5>
        {% endif %}   
    <p class="card-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <table id="data" class="table table-striped table-responsive">

                    <thead>
                        <tr>
                    {% if user.tipo_usuario == 2 %}
                            <th>
                                <div class="size"> Opciónes&nbsp;de&nbsp;usuario</div>
                            </th>
                            
                            <th class="header" scope="col">Maestrante</th>
                            {% endif %}
                            {% if user.tipo_usuario == 1 %}
                            <th class="header" scope="col">Docente&nbsp;Guia</th>
                            {% endif %}
                            <th class="header" scope="col">Actividad</th>
                            <th class="header" scope="col">Observaciones</th>
                           
                            <th class="header" scope="col">Fecha</th>
                          
                      

  
                        </tr>
                    </thead>
                    <tbody id="tableBody_users">
                        {% for avance in avances %}
                        {% if user.username == avance.docente or user.maestrante == avance.maestrante %}        
                        
                        <tr>
                            {% if user.tipo_usuario == 2 %}
                            <td><button onclick="abrir_modal_editar_avance('{% url 'avance:editar_avance' avance.id_avance %}')"
                                
                                class="btn btn-warning"><i class="fa-solid fa-pen"></i></button>
                            <button
                                onclick="abrir_modal_eliminar_avance('{% url 'avance:eliminar_avance' avance.id_avance %}')"
                                class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>

                            <a href="#" class="btn btn-primary"><i class="fas fa-file-alt"></i></a>
                        </td>      
                        
                            <td>{{ avance.maestrante }}</td>
                            
                            {% endif %}
                            {% if user.tipo_usuario == 1 %}
                            <td>{{ avance.nombre_docente }}</td>
                            {% endif %}
                            
                            <td>{{ avance.actividad }}</td>
                            <td>
                                <button onclick="abrir_modal_editar_avance('{% url 'avance:editar_avance' avance.id_avance %}')"
                                
                                class="btn btn-warning">Ver observación</button>
                                
                            </td>
                            
                            <td>{{ avance.fecha }}</td>
                          
                         
                            

                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
</div>




<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminar" role="dialog">

</div>

{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar_avance(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show');
        });
    }
    function abrir_modal_eliminar_avance(url) {
        $('#eliminar').load(url, function () {
            $(this).modal('show');
        });
    }


</script>


{% endblock extrajs %}

{% endblock %}