<!-- heredamos de la plantilla base-->

{% extends "postgradoApp/base.html" %}
<!-- cargamos toda la carpeta static -->
{% load static %}

{% block content %}
<div class="card-body">
    
    {% if user.tipo_usuario == 4 %}
    <div class="sb-nav-link-icon"><h4><i class="far fa-id-card"></i>Solicitud a Coordinación de Postgrado de nombramiento de docente revisor de Tesis</h4></div>

    
    {% endif %}
    
    {% if user.tipo_usuario == 5 %}
    <div class="sb-nav-link-icon"><h4><i class="far fa-id-card"></i>Nombramiento de docente Revisor</h4></div>
    
    {% endif %}

    {% if user.tipo_usuario == 3 %}
    <div class="sb-nav-link-icon"><h4><i class="far fa-id-card"></i>Entrega de Borrador de Tesis a docente Revisor</h4></div>
    <div class="sb-nav-link-icon"><h4><i class="far fa-id-card"></i>Entrega informe de revisión a postulante y docente guía</h4></div>


    
    {% endif %}


    {% if user.tipo_usuario == 2 %}
    <div class="sb-nav-link-icon"><h4><i class="far fa-id-card"></i>Revisión de la pertinencia del borrador de Tesis por capítulos y entrega de informe de revisión</h4></div>
    
    {% endif %}
    <p class="card-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <table id="data" class="table table-striped table-responsive">

                    <thead>
                        <tr>
                            
      

                            <th class="header" scope="col">Nombre</th>
                            <th class="header" scope="col">Apellido&nbsp;Paterno</th>
                            <th class="header" scope="col">Apellido&nbsp;Materno</th>
                            
  
                        </tr>
                    </thead>
                    <tbody id="tableBody_users">
                        {% for usuario in actividades %}
                                         
                        <tr>
                           
                    
           
                    
                            <td>{{ usuario.nombre_usuario }}</td>
                            <td>{{ usuario.paterno }}</td>
                            <td>{{ usuario.materno }}</td>
                           
                          
                            

                            

                        </tr>
                     
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
</div>




<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminar" role="dialog">

</div>

{% block extrajs %}

<script src="{% static 'lib/js/data.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar_usuario(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show');
        });
    }
    function abrir_modal_eliminar_usuario(url) {
        $('#eliminar').load(url, function () {
            $(this).modal('show');
        });
    }


</script>


{% endblock extrajs %}

{% endblock %}