<!-- heredamos de la plantilla base-->

{% extends "postgradoApp/base.html" %}
<!-- cargamos toda la carpeta static -->
{% load static %}

{% block content %}



<div class="card-body">
<div class="sb-nav-link-icon">
    <h2><i class="far fa-id-card"></i> Orientación en la elaboración del Perfil de Tesis o actualización del documento de Tesis</h2>
</div>

<div class="card-body">

    <p class="card-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="card-text" style="color:rgba(4, 32, 67, 0.921);">
                    <b><u>Documentos requeridos</u></b><br>
                    * Perfil de Tesis con aval de docente guía (en formato impreso y digital)<br>
                    * Documento de Tesis actualizado (en caso corresponda)<br> 
                    * Aval de docente guia que avala su actualización (en formato impreso y digital)
                    
                </p>            
                <form action="{% url 'usuario:checklista5' %}" method="POST" >
                    {% csrf_token %}       
                    <input type="hidden" name="fecha" id="fecha">                    
                    <input type="hidden" name="usuario" value="{{ user.nombre_usuario }} {{ user.paterno }} {{ user.materno }}">
                    <table class="table table-sm ">
             
                     <tbody>
             
                     
             
                       <tr>
                        
                         <td><button type="button" id="marcarTodo" class="btn btn-outline-primary btn-sm">Marcar</button>
                             <button type="button" id="desmarcarTodo" class="btn btn-outline-success btn-sm">Desmarcar</button>
                         </td>
                         <td><button type="submit" class="btn btn-primary">Enviar actividad</button></td>
                       </tr>
                     </tbody>
                   </table>           
                    <table name="f1" id="data" class="table table-striped table-responsive">




                        <thead>
                            <tr>

                                <th class="header" scope="col">ch</th>
                               
                                <th class="header" scope="col">Maestrante</th>
                                <th class="header" scope="col">Docente Guia</th>
                                

                            </tr>
                        </thead>
                        <tbody id="tableBody_users">

                            {% for usuario in actividades %}
                          
                            
                            <tr>

                       
                               
                                
                                    <td>
                                      
                                        <input type="checkbox" name="checks[]" value="{{ usuario.id_maestrante }}">
                                       
                                    </td>
                                    <td>{{ usuario.user.nombre_usuario }} {{ usuario.user.paterno }} {{ usuario.user.materno }}</td>
                                <td>{{ usuario.guia }}</td>
                                




                            </tr>
                             
                            {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>


</div>
</div>




<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminar" role="dialog">

</div>

{% block extrajs %}
<script src="{% static 'lib/js/check.js' %}"></script>
<script src="{% static 'lib/js/fecha.js' %}"></script>
<script src="{% static 'lib/js/data.js' %}"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar_usuario(url) {
        $('#edicion').load(url, function () {
            $(this).modal('show');
        });
    }
    function abrir_modal_eliminar_usuario(url) {
        $('#eliminar').load(url, function () {
            $(this).modal('show');
        });
    }


</script>


{% endblock extrajs %}

{% endblock %}